@model WebAspT.Models.UserException

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>Исключения пользователя</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Message)*@
            сообщение
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.TargetSite)*@
            целевой объект
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetSite)
        </dd>
        <dt class = "col-sm-2">
            номер формы
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.indexForm)
        </dd>
        <dt class = "col-sm-2">
            дата и время исключения
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateTimeExc)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">К списку</a>
    </form>
</div>
